* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    margin: 4rem;
    padding: 3.125rem;
    background-color: lightgrey;
}

main > h1 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 2.5rem;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: linear-gradient(to right, lightgrey 5%, grey);
    width: fit-content;
}

.container:not(:last-child) {
    margin-bottom: 2.5rem;
}

.container:hover {
    background: linear-gradient(to right, lightgrey 70%, grey);
}

.container > p {
    flex: 1 1 0%;
    padding-right: 1.25rem;
}

.container > .-ms-password-field,
.container > .-ms-password-field-alternative {
    flex: 0 1 0%;
    font-size: 1.2rem;
    font-weight: bold;
}


.alternative-trigger:active + .mr-hide {
    display: flex;
}

.mr-hide {
    display: none;
    margin-top: 1.5rem;
}

button {
    padding: .3125rem;
    margin-left: .3125rem;
}